nav {
    padding-left: 2em;
    display: flex;
    flex-direction: row;

    &+div {
        padding: 0.5em;
        display: inline-block;
    }

    & ul {
        background: var(--color-bg);
        list-style: none;
        vertical-align: middle;
        padding-left: 0;
    }

    & li {
        color: var(--color-fg);
        background: var(--color-bg);
        display: block;
        float: left;
        padding: 0.25em;
        position: relative;
        text-decoration: none;
        margin: auto 0 auto 0;
        min-width: 5em;
    }

    & li a,
    & li a:visited {
        color: var(--color-fg);
        text-decoration: none;

        &:hover {
            color: var(--color-fg);
            text-decoration: underline;
        }
    }

    & li:hover,
    & li:focus,
    & li:focus-within {
        background: var(--theme-1);
        cursor: pointer;
    }

    & ul li ul {
        position: absolute;
        margin-top: 0.25em;
        left: 0;
        display: none;
    }

    & ul li:hover>ul,
    & ul li:focus-within>ul,
    & ul li:focus>ul,
    & ul li ul:hover,
    & ul li ul:focus {
        display: block;
        background: var(--theme-1);
        z-index: 99999999;
    }

    & ul li ul li {
        background: var(--theme-1-darker);
        clear: both;
        width: 100%;

        &:hover {
            background: var(--theme-1-lighter);
        }
    }
}

@media screen and (max-width: 2000px) {
    nav {
        flex-direction: column;
    }
}