::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: #7F7F7F7F;
}

::-webkit-scrollbar-thumb {
    background: var(--theme-1);
    &:hover {
        background: var(--theme-1-lighter);
    }
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-resize {
    background-color: var(--black);
    color: var(--white);
    &::after {
        content: '&#8690';
    }
}

::-webkit-scrollbar-corner {
    background-color: var(--black);
    color: var(--white);
    content: '&#8690';
}
