.task-list-item {
    list-style-type: none !important;

    & input,
    & input:disabled::before {
        color: var(--theme-2);
        width: 0.7em;
        margin-left: -0.7em;
        cursor: default !important;
    }

    /* & input::before {
        content: 'radio_button_unchecked' !important;
    }

    & input:checked::before {
        content: 'task_alt' !important;
        color: var(--theme-4);
    } */

    & input {
        display: none;
    }

    &::marker {
        font-family: Icons;
        color: var(--theme-2);
        content: 'radio_button_unchecked';
    }

    &:has(input:checked) {
        text-decoration: line-through;
        color: var(--lightgray);

        &::marker {
            content: 'task_alt';
            color: var(--theme-4);
        }
    }
}