:root {
    --color-bg: #111;
    --color-fg: #eee;
    --black: black;
    --white: white;
    --lightgray: #888;
    --darkgray: #444;
    --theme-1-darker: #050;
    --theme-1: green;
    --theme-1-lighter: #0b0;
    --theme-1-lightest: #1f0;
    --theme-2-darker: #039;
    --theme-2: #06f;
    --theme-3: gold;
    --theme-3-darker: darkorange;
    --theme-4: #808;
    --theme-4-darker: #a3a;
    --color-heading: var(--theme-1-lightest);
    --color-link: var(--theme-2);
    --color-link-visited: var(--theme-1-lightest);
    --color-open-tab: var(--theme-3);
    --color-footer: var(--darkgray);
    --font-heading: "Open Sans", sans-serif;
    --font-body: "Open Sans", sans-serif;
    --font-code: "Ubuntu Mono", monospace;
}
